NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:4000

# following are needed for build errors
DATABASE_URL=dummy-database-url
BREVO_API_KEY=dummy-brevo-key
BETTER_AUTH_SECRET=abcdefghijklmnopqrstuvwxyz1234567890abcd